.page1{
    display: flex;
    justify-content: space-between;
}

.page1-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 700px;
    margin: 100px 0;
}

.page1-1 h1{
    font-size: 50px;
}

.page1-1 p{
    font-size: 18px;
}

.img{
    width: 800px;
    height: 600;
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order{
    width: 150px;
    height: 50px;
    background-color: #DC780B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;

}

.detail{
    width: 150px;
    height: 50px;
    color: #DC780B;
    border: 1px solid #DC780B;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
}
