.page4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: red; */
}

.card4{
    width: 360px;
    height: 446px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #0000001A;
    border-radius: 10px;
}

.card4 img{
    width: 360px;
    height: 264px;
}

.card-price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    
}

.card-price h1{
    font-weight: 400;
}

.plus{
    width: 36px;
    height: 34px;
    background-color: #DC780B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards4{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.learn{
    width: 150px;
    height: 40px;
    border: 1px solid #DC780B;
    color: #DC780B;
    background-color: white;
    border-radius: 5px;
}

.page4 h3{
    color: #DC780B;
    font-weight: 400;
}

.page4 h1{
    font-weight: 500;
}

.description4{
    /* background-color: red; */
    width: 750px;
    text-align: center;
    color: #150C01;
    font-weight: 200;
    font-size: 15px;
}